<div class="container py-3">
    <div class="row">
        <div class="col-md-6">
            <h2>Employee Management</h2>
        </div>

        <div class="col ml-auto text-right">
            <button type="button" class="btn btn-outline-success" (click)="open(content)">
                <i class="fa fa-plus"></i> Add Employee

            </button>

        </div>

    </div>
    <hr>

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Ishika Shrivastava</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Frontend Developer</h6>
                    <span class="badge badge-success">Design</span>
                    <hr>
                    <button type="button" class="btn btn-sm btn-outline-primary mr-2">Edit</button>
                    <button type="button" class="btn btn-sm btn-outline-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add Employee</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="empForm" (ngSubmit)="onEmpSubmit()">
                <div class="mb-3">
                    <div class="form-group">
                        <label>Enter Name</label>
                        <input type="text" class="form-control" formControlName="name">

                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <label>Enter Designation</label>
                        <input type="text" class="form-control" formControlName="designation">

                    </div>
                </div>
                <div class="mb-3">
                    <label>Enter Department</label>
                    <select class="custom-select" formControlName="department">
                        <option value="design">Design</option>
                        <option value="development">Development</option>
                        <option value="automation">Automation</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" (click)="modal.close('Close click')" class="btn btn-secondary"
                data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" (click)="modal.close('Save click')">Submit</button>
        </div>
    </div>
</ng-template>
